<div class="column is-6">
        <img src="/assets/img/splash.png"> 
</div>
<div class="column is-5">
    <div class="block homeblock">
    <h1>Clayman Asset Manager</h1>
    
    <p>
        Clayman is a modern asset manager browser system designed to help users keep assets tidy and searchable. It aims to be fast and responsive even with a high number of assets in the Library.

    </p>
     
        Development status: Alpha > Beta <br>

        Platforms: Win / Linux / Mac<br>

        Python: Python 3.7<br>

    </div>
</div>